.landingPageContainer {
  width: 100vw;
  height: 100vh;
  background: url("/bgimg.avif");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

@media (max-width: 412px) {

  /* Mobile styles here */
  .landingPageContainer {
    width: 160vw;
    height: 165vh;
  }


  .landingPageContainer nav {
    display: flex;
    gap: 50px;
    align-items: center;

  }

  .landingPageContainer nav h2 {
    /* font-size: 1rem; */
    font-weight: 500;
  }

  .landingPageContainer nav .navlist {
    /* gap: 1rem; */
    cursor: pointer;
    display: flex;

  }

  .landingMainContainer {
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    font-size: 50px;
    justify-content: space-between;
    /* color: #1a3459; */
  }

  .landingMainContainer h1,
  .cover {
    font-size: 30px;
  }
}

.landingPageContainer nav {
  padding-inline: 1.2rem;
  padding-block: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.landingMainContainer .startbtn {
  background-color: rgb(92, 43, 226) !important;
  width: 200px !important;
  padding-bottom: 20px !important;
  box-shadow: 5px 4px 10px #aac4f3 !important;
  text-align: center !important;
  font-weight: bold !important;
}

.landingMainContainer .startbtn:hover {
  background-color: rgb(67, 8, 228) !important;
  box-shadow: 5px 4px 10px #5e92e7 !important;
}

.landingPageContainer nav h2 {
  font-size: 1.8rem;
  font-weight: 500;
}

.landingPageContainer nav h2 :hover {
  border-bottom: 3px solid #5e92e7;
  color: #aac4f3;
}

.navlist>p:hover {
  /* border: 3px solid #3479e8;  */
  color: #3b78eb;
}

.landingPageContainer nav .navlist {
  display: flex;
  gap: 1.6rem;
  cursor: pointer;

}

.landingMainContainer {
  display: flex;
  /* justify-content: space-between; */
  padding-inline: 8rem;
  height: 80vh;
  align-items: center;
}

.landingMainContainer>div:nth-child(1) {
  font-size: 2.2rem;
}

.landingMainContainer>div:nth-child(1) div[role='button'] {
  background: #D97500;
  width: fit-content;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 1.9rem;
}

.landingMainContainer>div:nth-child(1) div[role='button'] a {
  text-decoration: none;
  color: white;
  font-size: 1.7rem;
}

.landingMainContainer>div:nth-child(2) img {
  height: 70vh;
  width: auto;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  text-align: center;
  color: rgb(27, 66, 207);
  background-color: #a2bef3;
  height: 50px;
  width: 100%;
  padding: 40px;
  border-bottom: 12px solid rgb(27, 66, 207);
}

.homerightnav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.homerightnav .logoutbtn {
  background-color: #2773ff !important;
  padding: 10px 15px !important;
  border-radius: 10px;
  color: #eef1f5;
  box-shadow: 2px 2px 10px #1a3459 !important;
}

.homerightnav .logoutbtn:hover {
  background-color: #085bf4 !important;
  box-shadow: 2px 5px 10px #284f87 !important;
}

.meetContainer {
  display: flex;
  padding: 15px;
  height: 87vh;
  gap: 10vw;
  justify-content: center;
  background-color: #e3e8f2
}

@media (max-width: 412px) {
  /* Standard Android phones */

  .meetContainer {
    display: flex;
    flex-direction: column;
    padding: 25px;
    height: 105vh;
    width: 65vh;
    /* gap: 10vw; */
    /* justify-content: center; */
    background-color: #e3e8f2
  }

  .leftPanel {
    height: 20%;
  }
  .navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  text-align: center;
  color: rgb(27, 66, 207);
  background-color: #a2bef3;
  height: 50px;
  width: 120%;
  padding: 40px;
  border-bottom: 12px solid rgb(27, 66, 207);
}
}

.leftPanel {
  height: 100%;
  display: flex;
  align-items: center;
}

.rightPanel {
  display: flex;
  align-items: center;
}

.rightPanel>img {
  width: 30vw;
  height: auto;
  border-radius: 20px;
  box-shadow: 5px 10px 20px #80a4e7;
  transition: transform 0.3s ease;
}


.rightPanel img:hover {
  box-shadow: 8px 10px 25px #5384df;
  transform: scale(1.05);
}

.authbg {
  background: url("/bgimg.avif");
}

.leftPanelmeet {
  display: flex !important;
  background-color: #6391e8;
  align-items: center;
  justify-content: center;
  gap: 60px;
  height: 41vw;
}

.navbar .enterlobby {
  display: flex !important;
}